#flow, .flow {
    margin: 0;
    list-style-type: none;
    white-space: nowrap;
    display: block;
}

.column-wrapper {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}

.node {
    margin: 10px;
    border: solid 1px black;
    border-radius: 4px;
    font-size: 1em;
}

.MODULE .node {
    min-width: 130px;
    width: 130px;
    min-height: 80px;
    height: 80px;
    font-size: 1em
}

.BUILD .node {
    min-width: 180px;
    min-height: 120px;
}

.node .title {
    border-radius: 4px 4px 0 0;
    padding: 4px;
    text-align: center;
    font-size: 1em;
}

.BUILD .node .title {
    border-bottom: 1px solid black;
}

.node.currentNode {
    font-weight: bold;
    box-shadow: 2px 2px 6px black;
}

.node .details {
    min-height: 40px;
    padding: 4px;
}

.node .details .status font {
    /* override the default color (can be red on failure) */
    color: black;
}

.connector {
    margin: 10px;
    height: 20px;
}

.connector .left {
    margin-top: 10px;
    float: left;
}


.connector .right {
    float: right;
}

table.progress-bar {
    border-collapse: collapse;
    border: 1px solid #3465a4;
    height: 8px;
    width: 150px;
    margin: 0 auto;
    clear: none;
}

td.progress-bar-done {
    background-color: #3465a4;
}

td.progress-bar-left {
    background-color: #ffffff;
}

table.progress-bar.red {
    border: 1px solid #cc0000;
}

table.progress-bar.red td.progress-bar-done {
    background-color: #cc0000;
}
