#graph {
    position: relative;
}

#flow, .flow, #connectors, .connectors {
    width: 100%;
    height: 100%
}

#connectors, .connectors {
    z-index: 1;
}

#flow, .flow {
    position: absolute;
    list-style-type: none;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.column-wrapper {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}

.node {
    position: relative;
    margin: 10px;
    font-size: 1em;
}

.node .background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #fff;
    border: solid 1px black;
    border-radius: 4px;
    z-index: 3;
}

.node .content {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    background: none transparent;
}

.MODULE .node {
    min-width: 130px;
    width: 130px;
    min-height: 60px;
    height: 60px;
    font-size: 1em
}

.BUILD .node {
    min-width: 180px;
    min-height: 120px;
}

.node .title {
    border-radius: 4px 4px 0 0;
    padding: 4px;
    text-align: center;
    font-size: 1em;
    width: 100%;
}

.BUILD .node .title {
    border-bottom: 1px solid black;
}

.MODULE .node .title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.node.currentNode .background {
    font-weight: bold;
    box-shadow: 2px 2px 6px black;
}

.node .details {
    min-height: 40px;
    padding: 4px;
}

.node .details .status font {
    /* override the default color (can be red on failure) */
    color: black;
}

.connector {
    margin: 10px;
    height: 20px;
}

.connector .left {
    margin-top: 10px;
    float: left;
}


.connector .right {
    float: right;
}

table.progress-bar {
    border-collapse: collapse;
    border: 1px solid #3465a4;
    height: 8px;
    width: 150px;
    margin: 0 auto;
    clear: none;
}

td.progress-bar-done {
    background-color: #3465a4;
}

td.progress-bar-left {
    background-color: #ffffff;
}

table.progress-bar.red {
    border: 1px solid #cc0000;
}

table.progress-bar.red td.progress-bar-done {
    background-color: #cc0000;
}
